<html>
    <head>
        <title>Practica</title>
    </head>
<body>
<h2>Head</h2>
    <ul>
        <li>@Html.ActionLink("Ir a Home","Home","Home")</li>
        <li>@Html.ActionLink("Ir a About", "About", "Home")</li>
    </ul>

