
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Datos Personales</h3>
        <form action="Persona/Persona" method="post">
            <label>Nombre:<input type="text" name="txtNombre" value="" /> </label><br />
            <label>Apellidos:<input type="text" name="txtApellido" value="" /> </label> <br />
            <label>Edad:<input type="text" name="txtEdad" value="" /> </label><br />
            <input type="submit" name="btnEnviar" value="Enviar" />
        </form>
    </div>
</body>
</html>
