@model PracticaMVC01.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persona</title>
</head>
<body>
    <div> 
        <label>Mi nombre es: @Model.nombre <br /></label>
        <label>Mi apellido es: @Model.apellido <br /></label>
        <label>Mi edad es: @Model.edad </label>
    </div>
</body>
</html>
