<!DOCTYPE html>
<html>
<head>
    <title>Página de Fredy Mendoza</title>
</head>
<body>
    <h1>Header</h1>
<ul>
    <li>@Html.ActionLink("Ir a Home","Home","Home")</li>
    <li>@Html.ActionLink("Ir a About", "About", "Home")</li>
</ul>