<!DOCTYPE html>
<html>
<head>
    <title>Mi primera página de Fredy Mendoza</title>
</head>
<body>
<h2>Estamos en la cabecera</h2>
    <ul>
        <li>@Html.ActionLink("Enlace a Home","Home","Home")</li>
        <li>@Html.ActionLink("Enlace a About", "About", "Home")</li>
    </ul>

