@model PracticaMVC02.Models.Datos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarProductos</title>
</head>
<body>
    <div> 
        <h3>Productos</h3>
        <label>Descripción es: @Model.descripcion </label><br />
        <label>Cantidad es: @Model.cantidad </label><br />
        <label>Precio es: @Model.precio </label><br />
    </div>
</body>
</html>
